.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.066);
  padding: 10px 20px;
  font-family: Arial, sans-serif;
}

.logo {
  font-size: 24px;
  color: #1a73e8;
  font-weight: bold;
}

.menu a, .menu button {
  text-decoration: none;
  color: black; /* Default color */
  margin: 0 15px;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.auth button {
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.register-btn {
  background-color: transparent;
  color: #4285f4;
  border: 1px solid #4285f4;
  margin-right: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.signin-btn {
  background-color: #4285f4;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.menu a:hover, .auth button:hover, .menu-toggle:hover {
  color: #fff;
  background-color: #1a73e8;
  transform: translateY(-2px);
}

@media (max-width: 1024px) {
  .menu {
      display: none; /* Hide menu initially on small screens */
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px; /* Adjust based on your navbar's height */
      left: 0;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 10px 0;
  }

  .menu.open {
      display: flex; /* Show menu when it's open */
  }

  .menu a, .menu button {
      color: white; /* White text for mobile view */
      display: block; /* Stack links and buttons */
      text-align: center;
  }

  .menu-toggle {
      display: block; /* Show toggle button on small screens */
  }
}
