body, html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.config-container {
  background-color: white;
  color: black;
  padding: 20px;
  text-align: left;
  width: 500px;
  height: 700px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.config-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.config-form {
  display: flex;
  flex-direction: column;
}

.config-form label {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px; /* Adjust this value to increase or decrease the space */
}

.config-form input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.config-form button {
  padding: 10px 20px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.config-form button:hover {
  background-color: #003d7a;
}
.btnsubmit{
  margin-top: 20px;
}
.control-buttons button {
  margin-right: 10px; /* Adjust the value as needed */

}

.control-buttons button:last-child {
  margin-right: 0; /* Ensure the last button doesn't have extra margin on the right */
}

